<!-- Nearby Airports returned by API -->
<div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
    <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
        Showing results for  
        <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
        <span class='relative text-white'>Nearby Airports</span></span>
        ....
    </blockquote>
    
    <div id='search-content' class='box-content py-5 border-4'>
        <table class='tg ml-8'>
        <thead>
        <tr>
            <th class='city'>City</th>
            <th class='IATA_code pl-50'>Aiport Code</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td id = 'airport' class='city'></td>
                <td id = 'IATA' class='IATA_code pl-5'></td>
            </tr>
            <tr>
                <td class='city'></td>
                <td class='IATA_code pl-5'></td>
            </tr>
            <tr>
                <td class='city'></td>
                <td class='IATA_code pl-5'></td>
            </tr>
            <tr>
                <td class='city'></td>
                <td class='IATA_code pl-5'></td>
            </tr>
            <tr>
                <td class='city'></td>
                <td class='IATA_code pl-5'></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<script src='../../public/js/search.js'></script>
