<!-- The Weather returned by API -->
<div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
    <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
        Showing results for  
        <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
        <span class='relative text-white'>5-day Forecast</span></span>
        ....
    </blockquote>
    
    <div id='weather-content' class='box-content w-100 py-5 border-4'>
        <div class ='ml-8 columns-5'>
            <span  role='img'><a href='/img/04d.png'><img id='wicon0' src='/img/04d.png'></a></span>
            <p id='forecastDay0'>04/09/2022</p>
            <p id='temp0'>Temp 52.27 F</p>
            <p id='wind0'>Wind: 11.65 MPH</p>
            <p id='h0'>Humidity 40 %</p>
            
            <span role='img'><a href='/img/10d.png'><img id='wicon1' src='/img/10d.png'></a></span>
            <p id='forecastDay1'>04/10/2022</p>
            <p id='temp1'>Temp 55.04 F</p>
            <p id='wind1'>Wind: 8.63 MPH</p>
            <p id='h1'>Humidity 40 %</p>
            
            <span role='img'><a href='/img/10d.png'><img id='wicon2' src='/img/10d.png'></a></span>
            <p id='forecastDay2'>04/11/2022</p>
            <p id='temp2'>Temp 57.24 F</p>
            <p id='wind2'>Wind: 14.29 MPH</p>
            <p id='h2'>Humidity 42 %</p>

            <span role='img'><a href='/img/10d.png'><img id='wicon3'src='/img/10d.png'></a></span>
            <p id='forecastDay3'>04/12/2022</p>
            <p id='temp3'>Temp 65.34 F</p>
            <p id='wind3'>Wind: 10.47 MPH</p>
            <p id='h3'>Humidity 50 %</p>
            
            <span role='img'><a href='/img/04d.png'><img id='wicon4' src='/img/04d.png'></a></span>
            <p id='forecastDay4'>04/13/2022</p>
            <p id='temp4'>Temp 55.38 F</p>
            <p id='wind4'>Wind: 5.08 MPH</p>
            <p id='h4'>Humidity 90 %</p>
        </div>
    </div>
</div>

<script src='../../public/js/search.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>