<!-- The Weather returned by API -->
<div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
<blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
    Showing results for  
    <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
    <span class='relative text-white'>5-day Forecast</span></span>
    ....
</blockquote>
<div id='weather-content' class='box-content  w-100 p-4 border-4'>
    <span role="img"><a href="/img/04d.png"><img src="/img/04d.png"></a></span>
    <p>04/09/2022</p>
    <p>Temp 52.27 F</p>
    <p>Wind: 11.65 MPH</p>
    <p>Humidity 40 %</p>
    
    <span role="img"><a href="/img/10d.png"><img src="/img/10d.png"></a></span>
    <p>04/10/2022</p>
    <p>Temp 55.04 F</p>
    <p>Wind: 8.63 MPH</p>
    <p>Humidity 40 %</p>
    
    <span role="img"><a href="/img/10d.png"><img src="/img/10d.png"></a></span>
    <p>04/11/2022</p>
    <p>Temp 57.24 F</p>
    <p>Wind: 14.29 MPH</p>
    <p>Humidity 42 %</p>

    <span role="img"><a href="/img/10d.png"><img src="/img/10d.png"></a></span>
    <p>04/12/2022</p>
    <p>Temp 65.34 F</p>
    <p>Wind: 10.47 MPH</p>
    <p>Humidity 50 %</p>
    
    <span role="img"><a href="/img/04d.png"><img src="/img/04d.png"></a></span>
    <p>04/13/2022</p>
    <p>Temp 55.38 F</p>
    <p>Wind: 5.08 MPH</p>
    <p>Humidity 90 %</p>
</div>
</div>