    <div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
    <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
        <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
        <span class='relative text-white'>Your Home Location</span></span>
        ....
    </blockquote>
        <div id='homeLocation-content' class='box-content h-82 w-100 p-4 border-4'>
            <div>
                <h2 text-black>Location</h2>
                <p>City: Aarhus</p>
                <p>Country: Denmark</p>
                <p>IATA airport Code: AAR</p>
                <h3>Covid Stats</h3>
                <p>population: 85935079</p>
                <p>cases_per_million: 173735</p>
                <p>todays_cases: 0</p>
                <p>active_cases_per_million: 2551</p>
                <p>total_recovered: 14612379</p>
                <h3>Safety Rating</h3>
                <p>safety_rating: 3.60</p>
                <h3>Today's Weather</h3>
                <p>icon: 02D</p>
                <p>temp: 53.74</p>
                <p>wind_speed: 21.99</p>
                <p>humidity: 54</p>
            </div>
        </div>
    </div>
