<div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
    <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
        <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
        <span class='relative text-white'>Your Home Location</span></span> ....
    </blockquote>
    
    <div id='homeLocation-content' class='box-content py-5 border-4'>
        <div class ='ml-8'>
            <h2 class='profile-headers'>Location</h2>
            <p>City: Colorado Springs</p>
            <p>Country: United States</p>
            <p>IATA airport Code: COS</p>
            <br>
            <h3 class='profile-headers'>Covid Stats</h3>
            <p>Population: 245628</p>
            <p>cases_per_million: 173735</p>
            <p>todays_cases: 9788</p>
            <p>active_cases_per_million: 3318</p>
            <p>total_recovered: 80026674</p>
            <br>
            <h3 class='profile-headers'>Safety Rating</h3>
            <p>Advisory: United States has a current risk level of 3 (out of 5).</p> 
            <p>We advise: Use some caution when staying in the United States.</p>
            <br>
            <h3 class='profile-headers'>Today's Weather</h3>
            <span role='img'><a href='https://openweathermap.org/img/wn/13d.png'><img id='wicon2' src='https://openweathermap.org/img/wn/13d.png'></a></span>
            <p>temp: 53.74</p>
            <p>wind_speed: 21.99</p>
            <p>humidity: 54</p>
        </div>
    </div>
</div>
