<!-- Travel Advisory returned by API -->
          <div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
            <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
              Showing results for  
                <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
                <span class='relative text-white'>Natural Diasters</span></span>
                ....
              </blockquote>
            <div id='travel-content' class='box-content h-32 w-100 p-4 border-4'></div>
          </div>