{{!-- Results container for all returned results--}}
<section id='results-container'>
    <div>
        {{> covid}}
    </div>
    <br>
    <div>
        {{> airport}}
    </div>
    <br>
    <div>
        {{> forecast}}
    </div>
    <br>
    <div>
        {{> safetyRating}}
    </div>
    {{!-- <br> 
    <div>
        {{> naturalDiasters}}
    </div> --}}
</section>