{{!-- <h3>Showing your search results:</h3> --}}
<section id='results-container'>
    <div>
        {{> covid}}
    </div>
    <br>
    <div>
        {{> airport}}
    </div>
    <br>
    <div>
        {{> forecast}}
    </div>
    <br>
    {{!-- <div>
        {{> naturalDiasters}}
    </div>
    <br> --}}
    <div>
        {{> safetyRating}}
    </div>
</section>