{{!-- <h3>Showing your search results:</h3> --}}
<div>
    {{> covid}}
</div>
<br>
<div>
    {{> airport}}
</div>
<br>
<div>
    {{> forecast}}
</div>
<br>
{{!-- <div>
    {{> naturalDiasters}}
</div>
<br> --}}
<div>
    {{> safetyRating}}
</div>