<!-- Travel Advisory returned by API -->
<div class='search-results container mx-auto px-10 bg-gradient-to-r from-sky-500 to-teal-500'>
    <blockquote class='p-main text-2xl font-semibold italic text-center text-slate-900'>
        Showing results for  
        <span class='before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block'>
        <span class='relative text-white'>Travel Safety Rating</span></span>
        ....
        </blockquote>
    <div id='travel-content' class='box-content py-5  py-5 border-4'>
        <div class ='ml-8'>
            <p id='score'>Safety Rating: 3.6</p>
            <p id='message'>Safety Rating: United Kingdom has a current risk level of 3.6 (out of 5). We advise: Please reconsider your need to travel to United Kingdom.</p>
        </div>
    </div>
</div>

<script src='../../public/js/search.js'></script>