<h3>Showing your search results:</h3>
<div>
    {{> covid}}
</div>
<div>
    {{> airport}}
</div>
<div>
    {{> forecast}}
</div>
<div>
    {{> naturalDiasters}}
</div>
<div>
    {{> safetyRating}}
</div>