         
         
         <div>
          <form id='search-form' class='box-content h-40 w-100 p-4 border-4'>
            <select id='options'>
                <option value='' disabled selected>Search country</option>
                <option value='UK'>United Kingdom</option>
                <option value='US'>United States</option>
                <option value='New_Zealand'>New Zealand</option>
                <option value='Canada'>Canada</option>
                <option value='Mexico'>Mexico</option>
            </select>
            <input id='search' class='form-input' type='text' placeholder='City Name!'>
            <button id ='search-submit' class='btn btn-main bg-red-500 hover:bg-sky-700'>Search</button>
          </form>
          </div>


<script src="./js/search.js"></script>