{{!-- Search form for Travel location --}}
<div>
    <form id='search-form' class='box-content h-40 w-55 border-4'>
        <select id='options'>
        </select>
        <input id='search' class='form-input' type='text' placeholder='City Name!'>
        <button type='button' id='search-submit' class='btn btn-main bg-red-500 hover:bg-sky-700'>Search</button>
    </form>
</div>

<br>
{{!-- Results container is hidden to start but displays on 'search button' click--}}
<div id='results-container' class='hide'>
    {{> results}}
</div>

<script src='./js/search.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>